posts/2025/*
posts/2026/*
!posts/2026/exchange-04*/
!posts/2026/exchange-05*/

!posts/2026/exchange-10-italy/
posts/2026/exchange-10-italy/*/
!posts/2026/exchange-10-italy/2026-05-19-overall/

!posts/2026/exchange-11*/
posts/2026/exchange-11*/*/
!posts/2026/exchange-11*/2026-*-brno/
!posts/2026/exchange-11*/2026-*-reflections/

!posts/2026/exchange-12-*/
posts/2026/exchange-12-*/*/
!posts/2026/exchange-12*/2026-05-29-dokomi/
