posts/2025/*

!posts/2025/lakectf2425-swiss/

!posts/2025/defcon33-us/
posts/2025/defcon33-us/*bl*/

!posts/2025/intern-01-nagoya/
!posts/2025/intern-01-nagoya/**

!posts/2025/intern-02*/
!posts/2025/intern-02*/**

!posts/2025/intern-03*/
!posts/2025/intern-03*/**

posts/2026/*
!posts/2026/exchange-04*/
!posts/2026/exchange-05*/

!posts/2026/exchange-10-italy/
posts/2026/exchange-10-italy/*/
!posts/2026/exchange-10-italy/2026-05-12-museum-correr/
!posts/2026/exchange-10-italy/2026-05-12-museum-correr/index.md
!posts/2026/exchange-10-italy/2026-05-13-doge-palace/
!posts/2026/exchange-10-italy/2026-05-13-doge-palace/index.md
!posts/2026/exchange-10-italy/2026-05-12-uffizi-gallery-get-see/
!posts/2026/exchange-10-italy/2026-05-12-uffizi-gallery-get-see/index.md
!posts/2026/exchange-10-italy/2026-05-13-castel-sant-angelo-its/
!posts/2026/exchange-10-italy/2026-05-13-castel-sant-angelo-its/index.md
!posts/2026/exchange-10-italy/2026-05-14-trevi-fountain-s-crowded/
!posts/2026/exchange-10-italy/2026-05-14-trevi-fountain-s-crowded/index.md
!posts/2026/exchange-10-italy/2026-05-14-coloseum/
!posts/2026/exchange-10-italy/2026-05-14-coloseum/index.md
!posts/2026/exchange-10-italy/2026-05-14-vatican-city-outer-square/
!posts/2026/exchange-10-italy/2026-05-14-vatican-city-outer-square/index.md
!posts/2026/exchange-10-italy/2026-05-14-roman-forum-rome-jojo/
!posts/2026/exchange-10-italy/2026-05-14-roman-forum-rome-jojo/index.md
!posts/2026/exchange-10-italy/2026-05-15-duomo-museum-surprisingly-good/
!posts/2026/exchange-10-italy/2026-05-15-duomo-museum-surprisingly-good/index.md
!posts/2026/exchange-10-italy/2026-05-17-around-milan-station/
!posts/2026/exchange-10-italy/2026-05-17-around-milan-station/index.md
!posts/2026/exchange-10-italy/2026-05-19-overall/
!posts/2026/exchange-10-italy/2026-05-19-overall/index.md

!posts/2026/exchange-11*/
posts/2026/exchange-11*/*/
!posts/2026/exchange-11*/2026-*-brno/
!posts/2026/exchange-11*/2026-*-reflections/

!posts/2026/exchange-12-*/
posts/2026/exchange-12-*/*/
!posts/2026/exchange-12*/2026-05-29-dokomi/
